.sidebar {
  flex: 1;
  height: calc(100vh-50px);
  background-color: #0c0c0c;
  border-radius: 5px;
  margin-left: 10px;
  position: sticky;
  top: 50;
}
.sidebarWrapper {
  padding: 20px;
  color: #9e9e9e;
}
.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarTitle {
  color: #dddddd;
}
.sidebarList {
  list-style: none;
  padding: 5px;
}
.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #181818;
}
.sidebarIcon {
  margin-right: 5px;
}
